@use 'var' as v;
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
/* standard resets */
*{
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-style: inherit;
}
*,*::after,*::before{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
ul{
    list-style-type: none;
}
/* --------------------*/

html{
    scroll-behavior: smooth;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    background-color: v.$background-muted;
    color: v.$text-dark;
    position: relative;
}
.body-header{
    max-width: v.$general-width;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: v.$weight-xl;
    font-size: v.$header;
}
main{
    max-width: v.$general-width;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // position: relative;
}
.products-container{
    flex: 1;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: auto;
    row-gap: clamp(1rem, 1vw, 1.3rem);
    column-gap: clamp(1rem, 1.5vw, 1.5rem);
    height: fit-content;
}
.product-card{
    display: flex;
    flex-direction: column;
    margin-bottom: v.$margin;
}

.product-card-img{
    min-width: 0;
    width: inherit;
    margin-bottom: v.$card-img-mb;
    position: relative;
        img{
            border-radius: v.$radius-s;
        }
}
.product-card-cart{
    @include imgBtn(v.$background-light, v.$gap-m);
    @include flex( center, row );
    // opacity: 0;
    // pointer-events: auto;
    .cart{
        width: v.$cart-icon;
    }
    .cart-txt{
        font-weight: v.$weight-x;
        display: block;
    }
}
.product-increment{
    @include imgBtn(v.$primary-red, 3.2rem);
    @include flex( center, row );
    border: none;
    opacity: 0;
    pointer-events: none;
        .increment-value{
            color: v.$background-light;
        }
         svg{
            border: 1px solid v.$background-light;
            @include actionBtn;
        }
}
.product-info{
    display: flex;
    flex-direction: column;
    margin-top: v.$margin-s;
    .product-title{
        font-weight: v.$weight-s;
        font-size: v.$card-title;
        color: v.$text-subtle;
    }
    .product-subtitle{
        font-weight: v.$weight-x;
        font-size: v.$card-sub_title;
    }
    .product-price{
        font-weight: v.$weight-x;
        font-size: v.$card-sub_title;
        color: v.$primary-red;
    }
}

/*----------------- full cart state --------------------*/
.cart-container{
    background-color: v.$background-light;
    padding: 1.5rem 1.3rem;
    border-radius: v.$radius-s;
    height: fit-content;
    width: min(100%, 25rem);
        h2{
            color: v.$primary-red;
            font-weight: v.$weight-xl;
            margin-bottom: 1rem;
        }
}
.cart-content{
    @include flex( none, column );
    gap: v.$gap-m;
}
.cart-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid v.$border-transparent;
    padding: 1.2rem 0;
    padding-top: .8rem;
    width: 100%;
}
.cart-item-info{
    display: flex;
    flex-direction: column;
    gap: v.$gap-m;
    flex: 1;
        .cart-item-title{
            font-weight: v.$weight-x;
        }
}
.price-container{
    display: flex;
    gap: v.$gap-x;
        .price-times{
            font-weight: v.$weight-x;
            color: v.$primary-red;
        }
        .item-price{
            font-weight: v.$weight-s;
            color: v.$text-subtle;
        }
        .total-price{
            font-weight: v.$weight-x;
        }
}
.delete-item{
    border: 1px solid v.$border;
    @include actionBtn;
}
.cart-item > svg{
    border: 1px solid v.$border;
    @include actionBtn;
}
.cart-total{
    margin: v.$card-img-mb 0;
    @include total;
}
.delivery-message{
    width: 100%;
    background-color: v.$background-muted;
    font-weight: v.$weight-x;
    padding: 1rem .5rem;
    @include flex(center, row);
    gap: v.$gap-m;
    border-radius: v.$radius-s;
    margin: v.$margin-s 0;
    font-size: 0.938rem;
        img{
            width: v.$carbon-icon;
        }
}
.confirm-cart-order{
    @include orderBtn;
}
/*-------------------------------------------*/

/*--------------- empty cart state -----------------*/
.empty-container{
    width: 100%;
    margin-bottom: 1rem;
}
.empty-icon-container{
    width: inherit;
        img{
            width: v.$empty-illustrator;
            margin: auto;
        }
}
.empty-message{
    text-align: center;
    color: v.$text-dark;
    font-weight: v.$weight-x;
    padding: .5rem 4rem;
}
/*-------------------------------------------*/

/*--------- order confirm modal ------------*/
.modal{
    display: flex;
    align-items: end;
    border: 1px solid;
    inset: 0;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    will-change: opacity;
    transition: opacity .2s linear;
    overflow-y: hidden;
}
.modal.is-open{
    opacity: 1;
    pointer-events: auto;
}
.modal.is-open .confirm-orderModal{
    transform: translateY(0);
    pointer-events: auto;
}
.confirm-orderModal{
    width: 100%;
    height: 85vh;
    background-color: v.$background-light;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    overflow: scroll;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform .3s linear;
    will-change: transform;
        @media screen and (min-height: 926px) {
            height: 65vh;
    }
}
.iconTick-container{
    display: flex;
    flex-direction: column;
    font-size: v.$header;
    font-weight: v.$weight-xl;
    gap: .5rem;
    margin-bottom: .5rem;
        img{
            width: 2.5rem;
        }
}
.cart-confirm-container{
    background-color: v.$background-muted;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: v.$gap-m;
    border-radius: v.$radius-s;
    padding: 1.3rem;
    padding-bottom: 0;
}
.confirm-item-info{
    display: flex;
    align-items: center;
    gap: v.$gap-m;
    border-bottom: 1px solid v.$border-transparent;
        img{
            width: 3rem;
            border-radius: 0.3rem;
        }
}
.img-and-info{
    display: flex;
    gap: v.$gap-x;
    flex: 1;
    margin: .8rem 0;
}
.confirm-total{
    @include total;
    margin: 1rem 0;
}
.start-new-order{
    @include orderBtn;
}
/*-------------------------------------------*/
@media (hover: hover) and (pointer: fine){
    .product-card-cart:hover{
        color: v.$primary-red;
        border: 1px solid v.$primary-red;
        cursor: pointer;
    }
    .product-increment > svg:hover{
        background-color: v.$background-light;
        fill: v.$primary-red;
        cursor: pointer;
    }
    .confirm-cart-order:hover{
        background-color: v.$text-dark;
        cursor: pointer;
    }
    .start-new-order:hover{
        background-color: v.$text-dark;
        cursor: pointer;
    }
    .cart-item > svg:hover{
        border: 1px solid v.$text-dark;
        fill: v.$text-dark;
        cursor: pointer;
    }
}
@media (prefers-reduced-motion: reduce) {
    html{
        scroll-behavior: auto;
    }
    .confirm-cart-order, .product-card-cart, svg, .modal, .confirm-orderModal{
        transition: none;
    }
}
@media screen and (min-width: 537px) {
    .cart-container{
        align-self: center;
    }
}
@media screen and (min-width: 768px) {
    .modal{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        position: fixed;
        inset: 0;
        width: 100%;
        min-height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
    }
    .confirm-orderModal{
        width: 31.25rem;
        height: fit-content;
        border-radius: 1rem;
        overflow: unset;
        transform: translateY(-30px);
        opacity: 0;
        will-change: opacity, transform;
        transition: opacity, transform .3s linear;
    }
    .modal.is-open .confirm-orderModal{
        transform: translateY(0);
        opacity: 1;
    }
}
@media screen and (min-width: 950px) {
    main{
        flex-direction: row;
    }
    .cart-container{
        align-self: unset;
    }
}
